.catalogContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loaderPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin-bottom: 80px;
}

.carItem {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  width: 276px;
  height: 424px;
}

.carItemImg {
  position: relative;
  border-radius: 14px;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 0%,
    rgba(18, 20, 23, 0.5) 100%
  );
  margin-bottom: 16px;
}

.cartTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modelName {
  color: #3470ff;
}

.cardText {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #8d929a;
}
.cartDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.infoPosition {
  gap: 6px;
  flex-basis: 100%;
  display: flex;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  background: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  white-space: nowrap;
  transition: background 0.3s ease-in-out;
}
.btn:hover {
  background: #0b44cd;
}
.loadMoreBtn {
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  transition: background 0.3s ease-in-out;
  margin-bottom: 124px;
}

.loadMoreBtn:hover {
  border: 1px solid #0b44cd;
}
.position {
  position: relative;
}
.iconSvg {
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  cursor: pointer;
}
